*{
  font-family:sans-serif;

}

body {
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  background-color: #666666;
}

ol {
  background-color: #d9d9d9;
}

a {
  text-decoration:none;
  color:gray;
}
