*{
  font-family:Verdana, sans-serif;

}

body {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

div {
  display:inline;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

ol {
  line-height: 150%;
  color: gray;
  margin-top: 0px;
  background-color: #EEF0F3;
  padding-top: 10px;
  padding-bottom: 10px;
}


li {
  color:black;
}

nav {
  background-color: #8D90A1;
  padding: 10px;
  margin-bottom: 0px;
}

.rightAlign {
  text-align: right;
}

footer {

  text-align: center;
}

.white {
  color: white;
}

.float-right {
  float:right;
}

a {
  font-size: small;
  text-decoration:none;
  color:gray;
}
