*{
  font-family:Verdana, sans-serif;

}

body {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

ol {
  line-height: 150%;
  color: gray;
  margin-top: 0px;
}

li {
  color:black;
}

nav {
  background-color: #595959;
  padding: 10px;
  margin-bottom: 0px;
}

ol {
  background-color: #d9d9d9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rightAlign {
  text-align: right;
}

footer {
  font-size: small;
  text-align: center;
}

.white {
  color: white;
}

a {
  text-decoration:none;
  color:gray;
}
